on:
  workflow_call:
    inputs:
      upload-dist-archive:
        required: true
        type: boolean
      fail-fast:
        required: false
        type: boolean
        default: true

env:
  CARGO_TERM_COLOR: always

jobs:
  release:
    name: Publishing for ${{ matrix.job.target }}
    runs-on: ${{ matrix.job.os }}
    permissions:
      contents: write
    strategy:
      fail-fast: ${{ inputs.fail-fast }}
      matrix:
        rust: [stable]
        job:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
          - os: ubuntu-latest
            target: aarch64-unknown-linux-gnu
          - os: ubuntu-latest
            target: i686-unknown-linux-gnu
          - os: macos-latest
            target: aarch64-apple-darwin
          - os: windows-latest
            target: x86_64-pc-windows-msvc
          - os: windows-11-arm
            target: aarch64-pc-windows-msvc
    steps:
      - uses: actions/checkout@v6
        if: ${{ inputs.upload-dist-archive }}
      - uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
        if: ${{ inputs.upload-dist-archive }}
      - uses: Swatinem/rust-cache@v2
        with:
          key: ${{ matrix.job.target }}
        if: ${{ inputs.upload-dist-archive }}
      - name: Install cross
        uses: taiki-e/install-action@v2
        with:
          tool: cross
        if: ${{ inputs.upload-dist-archive }}

      - name: cargo xtask dist
        run: cargo xtask dist --use-cross-if-needed --target ${{ matrix.job.target }}
        shell: bash
        if: ${{ inputs.upload-dist-archive }}

      - name: Upload binaries as artifacts
        uses: actions/upload-artifact@v7
        with:
          name: artifact-${{ matrix.job.target }}
          path: target/dist/*
        if: ${{ inputs.upload-dist-archive }}

      - name: Releasing assets
        uses: softprops/action-gh-release@v2
        with:
          files: target/dist/*
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
